{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block header %}
{% load static %}
<script type="text/javascript" language="javascript" src="{% static "js/dom_effects.js" %}"></script>
<script type="text/javascript" language="javascript" src="{% static "js/game_admin.js" %}"></script>

<link rel="stylesheet" type="text/css" href="{% static "effects.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "game-admin.css" %}">
{% endblock %}

{% block content %}

<main class="container h-75">
    <div class="row justify-content-center align-items-center h-100">
        <div class="card border-dark mb-3">

            <div class="card-header"> {{view.current_turnament_name}} </div>
            <div class="card-body">
                <label class="radio-inline p-2"><input type="radio" name="round-type" checked>All</label>
                {% if view.current_tournament_rounds > 1 %}
                <label class="radio-inline p-2"><input type="radio" name="round-type">Top 8</label>
                <label class="radio-inline p-2"><input type="radio" name="round-type">Top 4</label>
                {% else %}
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="No rounds were run yet!">
                    <label class="radio-inline p-2"><input type="radio" name="round-type" disabled>Top 8</label>
                    <label class="radio-inline p-2"><input type="radio" name="round-type" disabled>Top 4</label>
                </span>
                {% endif %}

                <br>
                <button type="button" id="play-btn" class="btn btn-primary btn-lg" onclick="playGame()"> Play Round </button>
            </div>
        </div>
    </div>
</main>


{% endblock %}