{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container h-75">
    <div class="row justify-content-center align-items-center h-100">
        <table class="table">
            <thead class="thead-light">
                {% if scores %}
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Team</th>
                    {% for i in rounds %}
                        <th scope="col"> Round {{i}}</th>
                    {% endfor %}
                </tr>
                {% endif %}
            </thead>
            <tbody>
                {# TODO: Change this to order by current winner #}
                {% for user, rounds in scores.items %}
                    <tr>
                        <th scope="row"> {{forloop.counter}} </th>
                        <td> {{user}} </td>
                        {% for round in rounds %}
                        <td> {{round.score}} </td>
                        {% endfor %}
                    </tr>
                {% empty %}
                    No scores yet
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}